body{
    margin:0;
    background: #6262ff;
    font:normal 15pt arial;
}
header{
    color:white;
    text-align:center;
}
section{
    background:white;
    border-radius:10px;
    padding:15px;
    width:400px;
    margin: auto; /* margin: auto; centralizar com width */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397); /*deixar sombra */
    text-align: center;
}
footer{
    color:white;
    text-align:center;
    font-family:italic;
}
img{
    height: 100px;
    margin: 10px;
}
h1{
    margin: 10px;
}
select{
    background: #6262ff;
    color: white;
    border: 0px;
    height: 25px;
}
select:hover{
    background: white;
    color: black;
}
.botao {
    width: 100px;
    height: 30px;
    background: #6262ff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.botao:hover{
    background: white;
    color: #6262ff;
    transition: 1s;
}