body{
    margin: 0px;
    font-family: arial;
    background: lightcoral;
    text-align: center;
    width: auto;
    font-size: 20px;
}
section{
    background: white;
    height: auto;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(5, 5, 5, 0.623);
}
div{
    padding: 50px;
    margin-top: 200px;
}
label{
    margin-top: 20px;
}
h1{
    margin: 0px;
}
button{
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border: none;
    background: black;
}
button:hover{
    cursor: pointer;
    background: rgb(58, 58, 58);
}
.quebra-linha{
    display: block;
}